div.defaut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.defaut div.img img{
    border: none;
    box-shadow: 0 0 8px var(--color-gray);
    border-radius: 50%;
    margin: 2rem auto;
}

div.defaut div.text {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.defaut div.text p{
    font-size: 1.2rem;
    line-height: 2;
}

div.defaut div.text p span{
    font-size: 1.3rem;
    font-weight: 560;
}