div.rotation{
    margin-top: 2rem;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* div.buttons div{
   
} */

div.buttons div a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid var(--color-white);
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 4px var(--color-light-gray);
}