@import url('../index.css');

div.topbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-red);

    @media screen and (max-width: 768px){
        display: none; 
        
    }
}