.church-container {
    padding: 2rem;
    font-family: var(--font-family);
    margin-top: -2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -2rem;

    @media screen and (Max-width:768px) {
        width: 100vw;
        margin: 0;
    }
  }
  
  div.church-container h1{
    text-align: center;
  }
  
  .filters {
    margin-bottom: 1rem;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #333;
    color: white;
  }
  
  .pagination {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  